@page
@model ProiectSteiler.Pages.Saloane.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Saloane</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salon[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon[0].Locatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon[0].Adresa)
            </th>
            <th>
                Stylists <!-- Displaying the header for stylists -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon[0].Categorie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Salon)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Locatie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresa)
                </td>
                <td>
                    @foreach (var stilist in item.Stilisti)
                    {
                        @stilist.Nume <br /> <!-- Display each stylist's name -->
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pret)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categorie)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
